body {
    background: #fff0e6;
    font-family: "Verdana";
}

a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 10px;
}

.container {
    position: relative;
    text-align: center;
}

.cardContainer {
    width: 31%;
    margin: 10px;
}

.capitalize {
    text-transform: capitalize;
}

.columnflexcontainer, .inlineflexcontainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.columnflexcontainer {
    flex-direction: column;
}

.inlineflexcontainer {
    width: 60%;
    flex-direction: row;
}

.inlineflexcontainer, .flexEnd {
    display: inline-flex;
}

.cardStyles {
    color: rgba(0, 0, 0, 0.870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    z-index: 1;
    display: block;
}

.fullWidth, .flexEnd {
    width: 100%;
}

.textFieldStyles {
    padding: 10px 20px;
    width: 85%;
}

.wrap {
    width: 38%;
    margin: 0 auto;
}

.addPadding {
    padding: 18px 1px;
}

.adjustHeight {
    height: 70vh;
}

.flexEnd {
    justify-content: flex-end;
}

.center {
    text-align: center;
}

.appBarLinks {
    margin: 10px;
}

.intro {
    font-size: 140%;
    text-align: center;
    line-height: 2em;
    color: #888;
}

.searchButton {
    margin-left: 2%;
}

.pinkColor {
    color: #FF4081;
}
